@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
@if ((User.Identity.IsAuthenticated == true) && (User.Identity.Name != null))
{
    <li class="nav-item">
        <span class="nav-link text-light">Hello @User.Identity.Name!</span>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="" asp-controller="Home" asp-action="Logout" 
                                   asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-action="Login">Login</a>
    </li>
}
</ul>
