@model Project1.Models.Registration

<h2>Registration successful</h2>

<div>
    <p>
        <h3>Welcome to The Learning Center @Model.Email</h3>
    </p>
    <p>
        <h5>Please login using your account to access course registration.</h5>
    </p>
</div>